.swiper {
  cursor: pointer; 
  overflow-x: scroll;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
}