<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light py-4 py-md-7 border-bottom border-secondary">
      <div class="container d-flex justify-content-end align-items-center position-relative">
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <h1 class="d-flex align-items-center position-absolute top-50 start-50 translate-middle ">
          <a href="index.html" class="navbar-brand text-primary fz-large fz-md-larger p-0">EXHIBINECTION</a>
        </h1>
        <!-- 登入 / 註冊 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item me-md-8">
              <a class="nav-link py-0 link-secondary" href="#">Sign in</a>
            </li>
            <li class="nav-item me-md-8">
              <a class="nav-link py-0 link-secondary" href="#">Sign up</a>
            </li>
          </ul>
        </div>
        <!-- 購物車 -->
        <button type="button" class="btn btn-link d-flex position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" >
          <span class="material-icons">confirmation_number</span>
          <span class="position-absolute top-15 start-75 translate-middle badge rounded-pill bg-success">3</span>
        </button>
      </div>
    </nav>
    <main class="main">
      <%- contents %>
    </main>
    <footer class="py-4 py-md-7">
      <div class="container">
        <ul class="list-unstyled d-flex align-items-center">
          <li class="me-auto">
            <p class="d-flex align-items-center flex-wrap">
              <span class="fz-larger me-4">EXHIBINECTION</span>
              © 2020. All Rights Reserved.
            </p>
          </li>
          <li class="me-6 d-none d-md-block">
            <a href="#" class="link-secondary">Sign in</a>
          </li>
          <li class="d-none d-md-block">
            <a href="#" class="link-secondary">Sign up</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-end bg-dark pt-5 pt-md-8 pb-7 pb-md-6 ps-4 ps-lg-8 pe-2 pe-lg-4" tabindex="-1" id="offcanvasRight" data-bs-scroll="false" data-bs-backdrop="false" aria-labelledby="offcanvasRightLabel">
      <div class="d-flex align-items-center">
        <h2 class="text-white mb-3 me-auto">Cart List</h2>
        <input type="button" value="" class="btn-close bg-white me-3 me-lg-5" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
      </div>
      <ul class="cartScrollbar list-unstyled overflow-auto pe-2 pe-lg-4 mb-5">
        <li class="bg-white rounded mb-2 mb-lg-3">
          <input type="button" value="" class="btn-close pt-1 px-1">
          <div class="d-flex px-4 px-md-8 pb-4 pb-mb-6">
            <img src="https://images.unsplash.com/photo-1545987796-b199d6abb1b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="2020 台味設計展" class="img img__offcanvas me-4">
            <ul class="list-unstyled">
              <li class="fw-bold mb-1">
                <h3 class="fz-medium text-nowrap">2020 台味設計展</h3>
              </li>
              <li class="fw-medium text-nowrap mb-1">
                <p>01 JUN — 31 OCT</p>
              </li>
              <li class="text-secondary mb-4">
                <p>全票</p>
              </li>
              <li class="fw-bold fz-large">
                <p>NT$350</p>
              </li>
            </ul>
            <ul class="list-unstyled d-flex flex-column flex-column-reverse flex-lg-row align-items-center ms-auto">
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">remove</span>
                </button>
              </li>
              <li class="px-4">
                <p class="fz-large fw-bold">01</p>
              </li>
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">add</span>               
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="bg-white rounded mb-2 mb-lg-3">
          <input type="button" value="" class="btn-close pt-1 px-1">
          <div class="d-flex px-4 px-md-8 pb-4 pb-mb-6">
            <img src="https://images.unsplash.com/photo-1510520001634-6af954f45759?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="No.22 線上設計展" class="img img__offcanvas me-4">
            <ul class="list-unstyled">
              <li class="fw-bold mb-1">
                <h3 class="fz-medium text-nowrap">2020 台味設計展</h3>
              </li>
              <li class="fw-medium text-nowrap mb-1">
                <p>01 JUN — 31 OCT</p>
              </li>
              <li class="text-secondary mb-4">
                <p>全票</p>
              </li>
              <li class="fw-bold fz-large">
                <p>NT$350</p>
              </li>
            </ul>
            <ul class="list-unstyled d-flex flex-column flex-column-reverse flex-lg-row align-items-center ms-auto">
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">remove</span>
                </button>         
              </li>
              <li class="px-4">
                <p class="fz-large fw-bold">01</p>
              </li>
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">add</span>               
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="bg-white rounded mb-2 mb-lg-3">
          <input type="button" value="" class="btn-close pt-1 px-1">
          <div class="d-flex px-4 px-md-8 pb-4 pb-mb-6">
            <img src="https://images.unsplash.com/photo-1545178803-4056771d60a3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="高雄設計節" class="img img__offcanvas me-4">
            <ul class="list-unstyled">
              <li class="fw-bold mb-1">
                <h3 class="fz-medium text-nowrap">高雄設計節</h3>
              </li>
              <li class="fw-medium text-nowrap mb-1">
                <p>01 JUN — 31 OCT</p>
              </li>
              <li class="text-secondary mb-4">
                <p>全票</p>
              </li>
              <li class="fw-bold fz-large">
                <p>NT$350</p>
              </li>
            </ul>
            <ul class="list-unstyled d-flex flex-column flex-column-reverse flex-lg-row align-items-center ms-auto">
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">remove</span>
                </button>
              </li>       
              <li class="px-4">
                <p class="fz-large fw-bold">01</p>
              </li>             
              <li>
                <button tyep="button" class="btn btn-link link-dark d-flex p-2">
                  <span class="material-icons-outlined">add</span>
                </button>
              </li>    
            </ul>
          </div>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <p class="text-white me-auto fw-medium fz-large">
          <span class="me-6">小計</span>
          NT$1050
        </p>
        <a href="cartList.html" type="button" class="btn btn-outline-primary text-primary py-2 px-6 bg-white">前往結帳</a>
      </div>
    </div>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>