.productList {
  &__item {
    padding: 44px 0;
    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 52px;
    }
  }
}

.offcanvas-end {
  width: 100%;
  margin-top: 71px;
  @include media-breakpoint-up(sm){
    width: 375px;
  }
  @include media-breakpoint-up(md){
    margin-top: 95px;
  }
  @include media-breakpoint-up(lg){
    width: 540px;
  }
}

.cartScrollbar {
  //捲軸底色
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: map-get($theme-colors, "secondary");
  }
  //捲軸寬度
  &::-webkit-scrollbar {
    width: 2px;
    background-color: black;
  }
  //捲軸本體顏色
  &::-webkit-scrollbar-thumb {
    background-color: map-get($theme-colors, "success");
  }
}

.footerBtn {
  &--height {
    min-height: calc(90vh - 68px - 67.6px);
    @include media-breakpoint-up(md) {
      min-height: calc(90vh - 92px - 67.6px);
    }
  }
}